// Small devices (landscape phones, 576px and up)
@media (min-width: 0px) {
  // .ant-layout-sider, .ant-menu,
  // .ant-layout-sider-trigger,
  // .ant-menu-item {
  //   //background-color: $primary !important
  // }


  .top-bar {
    display: flex;
    justify-content: center;
  }
  .ant-menu {
    svg {
      width: 20px;
      height: 20px;
    }
  }

  .ant-layout-header {
    background-color: #072146;

    .top-bar {
      text-align: center;
    }
  }

  .logo-dragnet {
    width: 70px;
  }

  .ant-menu-item-selected {
    background-color: transparent !important;
  }
}